.total {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.body {
  padding: 60px 100px;
  background-color: rgb(247, 248, 250);
}

.BGRemover {
  height: 186px;
  display: flex;
  align-items: center;
  background-color: #c3e7fd;
}

.BGRemover img {
  height: 186px;
}

.violetBox {
  width: 160px;
  height: 186px;
  border-radius: 0 50% 50% 0;
  display: inline-block;
  background-color: #d3b4f6;
}

.BGRemoverText {
  font-family: "Bebas Neue";
  font-size: 48px;
  color: #1e272e;
  margin: 0 40px;
}

.BGRemoverTag {
  font-size: 28px;
  color: #566474;
  margin: 0 40px;
}

.appButton {
  background-color: #1e272e;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  margin-left: 100px;
  border: none;
  cursor: pointer;
}

.AllAPIs {
  font-size: 24px;
  margin: 60px 0 40px;
}

.APIGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 65px 5px;
  align-items: center;
}

.APIbox {
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s;
}

.APIbox:hover {
  transform: translateY(5px);
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.APIText h3 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 500;
}

.APIText p {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #566474;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
